{% extends "_base.html" %}

{% load i18n %}

{% block title %}Change Password{% endblock title %}

{% block content %}

<h3>{% trans "Change Password" %}</h3>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change" hx-push-url="{% url 'core:account' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="wide green primary">
          {% trans "Change password" %}
        </button>
    </form>

    <a class="centered_block" href="{% url 'account_reset_password' %}">
      <button class="wide neutral secondary">
        {% trans "Forgot Password?" %}
      </button>
    </a>
    
{% endblock %}
